.quasar
.DS_Store
.thumbs.db
node_modules
/dist
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www
# We don't need the entire www folder
# But capacitor wants a index.html during dev and quasar won't re-create it
src-capacitor/www/*
!src-capacitor/www/index.html
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
