// app global css
// Hyperion brand color
.text-hyperion
    color #2b819a

.bg-hyperion
    background #2b819a

// class that allows user selection
.allow-select
    -webkit-user-select text
    -moz-user-select text
    -ms-user-select text
    user-select text

// CUSTOM DEFINITIONS
$matmenu = $grey-8

:root
  --q-color-matmenu $matmenu

.text-matmenu
  color $matmenu !important
  color var(--q-color-matmenu) !important
.bg-matmenu
  background $matmenu !important
  background var(--q-color-matmenu) !important

// dark faded and light style was removed with Quasar 1.0
// Variables
$light = #bdbdbd
$dark = #424242
$faded = #777

// CSS3 Root Variables
:root
  --q-color-light $light
  --q-color-light-d darken($light, 10%)
  --q-color-faded $faded
  --q-color-dark $dark

// CSS Classes
.text-faded
  color $faded !important
  color var(--q-color-faded) !important
.bg-faded
  background $faded !important
  background var(--q-color-faded) !important

.text-light
  color $light !important
  color var(--q-color-light) !important
.bg-light
  background $light !important
  background var(--q-color-light) !important

.text-dark
  color $dark !important
  color var(--q-color-dark) !important
.bg-dark
  background $dark !important
  background var(--q-color-dark) !important

.text-faded
  color $faded !important
  color var(--q-color-faded) !important
.bg-faded
  background $faded !important
  background var(--q-color-faded) !important
